.parentPost {
  width: 100%;
  gap: 1em;
  background: var(--clr-3);
  padding: 1.5em;
  border-radius: var(--brdr-rdus);
}

.head {
  gap: 1em;
}

.pfp {
  height: 2em;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  background: var(--clr-df);
  font-size: 1em;
  border-radius: 50%;
  user-select: none;
}

.name {
  font-size: 1.4em;
  font-weight: 500;
}

.date{
  color: var(--clr-gray);
}

.title {
  font-size: 1.2em;
}

.photo {
  width: 100%;
  object-fit: cover;
  border-radius: var(--brdr-rdus);
}

.optionSide {
  align-items: center;
  margin: 0 1em;
  justify-content: space-between;
}

.like,.liked, .save, .saved {
  cursor: pointer;
  transition: var(--trns);
}

.like, .save {
  color: var(--clr-gray);
}

.liked {
  color: var(--clr-red);
}

.saved{
  color: var(--clr-gold);
}

.like:hover {
  color: var(--clr-red);
}

.save:hover{
  color: var(--clr-gold);
}

.like:active,.liked:active,.save:active,.saved:active{
  transform: scale(0.8);
}



.totalLike {
  font-size: 1.2em;
  color: var(--clr-gray);
}
